<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'semi_restful_app/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div id="header">
        <h1>Welcome, {{user.name}}! Lets edit your job!</h1>
        <a href="/logout">Logout</a>
        <div class='main'>
            {% if messages %} {% for msg in messages %}
            <div class="alert">
                {{msg.message}}
            </div>
            {% endfor %} {% endif %}
            <div id="container">
                <h1 id="big">Edit Job #</h1>
                <form name="new" action="/update" method="post">
                    {% csrf_token %}
                    <h2>id</h2>
                    <input class="hidden" type="id" name="id" value="{{job.id}}">
                    <h3>job</h3>
                    <input class="input" type="text" name="job">
                    <h3>location</h3>
                    <input class="input" type="text" name="location">
                    <h3>Release Date</h3>
                    <label for="start">Start date:</label>
                    <input type="date" id="start" name="releasedate" value="0000-00-00" min="1800-01-01" max="2025-12-31">
                    <h3>Description</h3>
                    <input class="input" type="text" name="desc">
                    <input id="button" type="submit">
                </form>
                <a href="/{{job.id}}">
                    <h2>job</h2>
                </a>|
                <a href="/dashboard">
                    <h2>Go Back</h2>
                </a>
            </div>
        </div>
</body>

</html>